<!DOCTYPE html>
<html>
    <head>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/landing.css">
    </head>
    <body>
        <section id="wrapper" class="container">
            <header>
              <title>StackSheet</title>
                <nav class="navbar navbar-default">
                    <ul class="nav navbar-nav">
                        <li role="presentation" class="active"><a href="#home">Home</a></li>
                        <li role="presentation"><a href="/login">Login</a></li>
                    </ul>
                </nav>
            </header>
            <div class="jumbotron text-center">
                <h1>Welcome to DragginSheet!</h1>
                <p><strong>Build your own custom character sheet, draggable resizable text blocks!</strong></p>
                  <p>Currently in beta limited production release, prototype, test phase, version 2.3.5</p>
        
            </div>
        </section>
        <footer class="text-center">&copy; <%= new Date().getFullYear() %></footer>
    </body>
</html>
