<!DOCTYPE html>
<html ng-app="stacksheet">
  <head>
    <title>StackSheet</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/css/stacksheet.css"/>

      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
      <script src="//npmcdn.com/draggabilly@2.1/dist/draggabilly.pkgd.min.js"></script>


  </head>

  <body ng-controller="textController as txtCtrl" >
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/login">Login</a></li>
        </ul>
    </nav>
    <nav class="navbar navbar-default addRemove">
      <ul class="nav navbar-nav">
        <button class="btn btn-lg btn-default styleButton" ng-click="txtCtrl.addTextArea()">Add Element</button>
        <button class="btn btn-lg btn-default styleButton" ng-click="txtCtrl.removeTextArea()">Remove Element</button>
        <button class="btn btn-lg btn-default styleButton" ng-click="txtCtrl.getInfo()">Load</button>
      </ul>
    </nav>

    <div class="container">

      <div class="item" ng-repeat="textArea in txtCtrl.textAreas track by $index" ng-style="txtCtrl.textAreas[$index].parent.style">
        <div class="handle"></div>
           <textarea ng-blur="txtCtrl.saveInfo($index)" ng-model="txtCtrl.textAreas[$index].text">
             {{ textArea.text }}
          </textarea>
      </div>

      <!-- <div class="item">
        <div class="handle"></div>
        <textarea>{{ text }}</textarea>
      </div> -->

    </div>

    <script src="/js/module.stacksheet.js"></script>
  </body>
</html>
