<!DOCTYPE html>
<html ng-app="stacksheet">
  <head>
    <title></title>
      <!-- <link rel="stylesheet" href="src/pen.css" /> -->
      <link rel="stylesheet" type="text/css" href="/css/stacksheet.css"/>

      <script src="https://npmcdn.com/draggabilly@2.1/dist/draggabilly.pkgd.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>

  </head>

  <body ng-controller="textController as txtCtrl" >

    <nav>
      <button ng-click="txtCtrl.addTextArea()">Add Stuff</button>
      <button ng-click="txtCtrl.removeTextArea()">Remove Stuff</button>
    </nav>

    <div class="container">

      <div ng-repeat="text in txtCtrl.textAreas track by $index" class="draggable">
        <div class="handle"></div>
        <textarea ng-blur="txtCtrl.saveInfo()"> {{ text }} </textarea>
      </div>
    </div>

    <script src="/js/module.stacksheet.js"></script>
  </body>
</html>
