body {
    margin-top: 40px;
    background-color: azure;
}
.jumbotron {
  background-color: powderblue;
}

.btn-lg {
  color: azure;
}

.navbar {
  background-color: powderblue;
  border-color: powderblue;
}
