body {
  background-color: powderblue;
  font-family: arial, helvetica, sans-serif
}


.container {
  height: 10in;
  width: 7.5in;
  background-color: white;
  padding: .5in;
  margin: auto;
}




.draggable {
  float: left;
}

.draggable.is-pointer-down {
  background: lightgray;
  z-index: 2;  /*above other draggies */
}
.draggable.is-dragging {
  opacity: 0.7;
}


label {
    font-weight: bold
}


* { box-sizing: border-box; }

body { font-family: sans-serif; }

.item {
  position: relative;
  width: 200px;
  height: 200px;
  background: #CCC;
  padding: 10px;
  margin-bottom: 10px;
}

/* other items appear above handle */
.item > * {
  position: relative;
}

/* handle appears behind other elements
   takes up entire size of parent */
.item .handle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.handle:hover {
  background: #09F;
}

textarea {
  resize: both;
}


.textArea {
  width: 50px;
  height: 25px;
  background: white;
  float:left;
  resize: both;
  border: lightgray dashed 1px;
  margin: 5px;
}

/*div.editor {
  height: 100px;
  width: 100px;
  background-color: white;
}*/
