body {
  background-color: powderblue;
  font-family: arial, helvetica, sans-serif
}


.container {
  height: 10in;
  width: 7.5in;
  background-color: white;
  padding: .5in;
  margin: auto;
}



/*
.draggable {
  float: left;
}

.draggable.is-pointer-down {
  background: lightgray;
  z-index: 2; /* above other draggies */
/*}
.draggable.is-dragging { opacity: 0.7; }*/

/*
label {
    font-weight: bold
}*/



.textArea {
  width: 30px;
  height: 30px;
  background: white;
  float:left;
  resize: both;
  border: lightgray dashed 1px;
  margin: 5px;
}

/*div.editor {
  height: 100px;
  width: 100px;
  background-color: white;
}*/
