body {
  background-color: powderblue;
  font-family: arial, helvetica, sans-serif
}


.container {
  height: 10in;
  width: 7.5in;
  background-color: white;
  padding: .5in;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px #888888;
}

.buttonMenu {
  text-align: center;
}

.item {
  position: relative;
  width: 15px;
  height: 15px;
  background: lightblue;
}

/* other items appear above handle */
.item {
  float: left;
  position: relative;
}

/* handle appears behind other elements
   takes up entire size of parent */
.item .handle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.handle:hover {
  background: #09F;
}

textarea {
  height: 25px;
  width: 35px;
  resize: both;
  float:left;
  border: darkgray dashed 1px;
}

.navbar {
  background-color: powderblue;
  border-color: powderblue;
}

.styleButton {
  background-color: lightsteelblue;
  border-color: cornflowerblue;
  color: midnightblue;
}

li {
  color: midnightblue;
}
/*.textArea {
  width: 50px;
  height: 25px;
  background: white;
  float:left;
  resize: both;
  border: lightgray dashed 1px;
  margin: 5px;
}*/

/*div.editor {
  height: 100px;
  width: 100px;
  background-color: white;
}*/
