body {
  background-color: powderblue;
  font-family: arial, helvetica, sans-serif
}


.container {
  height: 10in;
  width: 7.5in;
  background-color: ivory;
  padding: .5in;

}

.draggable {

  border-radius: 10px;
  margin: 0 10px 10px 0;
  float: left;
}

.draggable.is-pointer-down {
  background: lightgray;
  z-index: 2; /* above other draggies */
}
.draggable.is-dragging { opacity: 0.7; }


label {
    font-weight: bold
}

.handle {
  background: darkgray;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  padding: 10px;
}

textarea {
  width: 140px;
  height: 140px;
  background: whitesmoke;
}
