body {
  background-color: powderblue;
  font-family: arial, helvetica, sans-serif
}


.container {
  height: 10in;
  width: 7.5in;
  background-color: ivory;
  padding: .5in;

}

.draggable {
  float: left;
}

.draggable.is-pointer-down {
  background: lightgray;
  z-index: 2; /* above other draggies */
}
.draggable.is-dragging { opacity: 0.7; }


label {
    font-weight: bold
}

.handle {
  background: powderblue;
  height: 10px;
  width: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

textarea {
  width: 100px;
  height: 50px;
  background: whitesmoke;
}
